/* Cursors for "The Nine Lands" Website. */
/* ========================================================================== */
/* It defines the style of the elements common in most of the pages.
*/



@curdefault: url('/images/webelements/cursors/t9l_cursor.png');
@curpointer: url('/images/webelements/cursors/t9l_pointer.png') 2 10;
@curgrab: url('/images/webelements/cursors/t9l_grab.png') 20 19;
@curtext: url('/images/webelements/cursors/t9l_text.png') 1 60;
