/* ========================== Fonts embedded in the CSS ============================ */
/* ================================================================================= */

@font-face {
	font-family: "Sherwood";
	src: url("/assets/commons/fonts/sherwood.ttf");
}

@font-face {
	font-family: "Roman";
	src: url("/assets/commons/fonts/morris-roman.black.ttf");
}
