/* Fonts for "The Nine Lands" Website. */
/* ========================================================================== */
/* It defines the style of the fonts common in most of the pages.
*/



@font-face {
	font-family: "Sherwood";
	src: url("@{pathtoroot}/assets/commons/fonts/sherwood.ttf");
}

@font-face {
	font-family: "Roman";
	src: url("@{pathtoroot}/assets/commons/fonts/morris-roman.black.ttf");
}
