/* Fonts */

@font-face {
  font-family: 'Sherwood';
  src: url("#{$path-fonts}/sherwood.ttf");
}

@font-face {
  font-family: "Roman";
  src: url("#{$path-fonts}/morris-roman-black.ttf");
}
