/* Attachments CSS Stylesheet for "The Nine Lands" Website. */

/* Link to this CSS as last file in every page! */


.centerxy {
	justify-content: center;
	align-items: center;
}

.brilliant {
	-webkit-filter: brightness(200%);
	filter: brightness(200%);
}



/* ========================================================================== */
/* Draggable items																														*/
/* ========================================================================== */
/*  */

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}



/* ========================================================================== */
/* Text Decoration Classes																										*/
/* ========================================================================== */
/*  */

.golden {
	font-family: "Sherwood", fantasy;
	color: darkgoldenrod;
  text-shadow: 1px 1px 1px black;
}

.roman {
	font-family: "Roman", fantasy;
}

.selected {
	color: darkgoldenrod;
}



/* ========================================================================== */
/* Border Decoration Classes																									*/
/* ========================================================================== */
/*  */

.tiled {
	border-radius: 5px;
	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6) inset, 2px 2px 4px 2px rgba(255,255,255,0.4) inset;
}

.embossed {
	margin: 10px;

	border-radius: 5px;
	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6), 2px 2px 4px 2px rgba(255,255,255,0.4);

	background-color: black;
	background-color: rgba(0,0,0,0.5);
}



/* ========================================================================== */
/* Visibility Classes																													*/
/* ========================================================================== */
/*  */

.visible { /* Probably useless. */
	display: block;
}

.visibleflex { /* Probably useless. */
	display: flex;
}

.hidden {
	display: none;
}
