/* CHARSHEET.PHP CSS Stylesheet for "The Nine Lands" Website. */


/* ========================== Fonts embedded in the CSS ============================ */
/* ================================================================================= */

@font-face {
	font-family: 'Sherwood';
	src: url("../fonts/sherwood.ttf");
}

/* ========================== End of Fonts embedded in the CSS ===================== */
/* ================================================================================= */


/* ========================== Charachter List Boxes Properties ===================== */
/* ================================================================================= */

#charlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.charchoice {
	display: flex;
	border: 15px solid transparent;
	border-image: url(../images/medieval-border.png) 20% round;
	min-height: 250px;
	width: calc(30% - 40px);
	min-width: 410px;
	margin: 20px;
	background-image: url("../images/darkmetal-bck.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#newavatarimg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 150px;
	height: calc(100% - 10px - 15px);
	max-height: 250px;
	margin: 10px 10px;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 2px 2px 4px 2px rgba(255,255,255,0.4), -3px -3px 5px 3px rgba(0,0,0,0.6);
	font-family: Sherwood, Georgia, serif;
	color: goldenrod;
	font-size: 500%;
	font-weight: bold;
}

.charchoice img {
	display: block;
	width: 100%;
	max-width: 150px;
	height: auto;
	max-height: 250px;
	margin: auto 10px;
	box-shadow: 2px 2px 4px 2px rgba(255,255,255,0.4), -2px -2px 4px 2px rgba(0,0,0,0.6);
}

.chardescrip {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 9;
	padding: 10px;
	text-align: left;
}

.chardescrip > p {
	width: 100%;
	margin: 5px 0;
}

/* ========================== End of Charachter List Boxes Properties ============== */
/* ================================================================================= */


/* ========================== Modal Charachter Sheet Properties ==================== */
/* ================================================================================= */

.sheetbox { /* The container of the Charachter boxes, child of the modal box*/
	display: flex;
	justify-content: space-around;
	height: calc(100% - 160px);
	margin-top: 80px;
	animation-name: zoomincharmodal;
	animation-duration: 0.2s;

}

.charbox {  /* Left and right Charachter Boxes */
	border: 15px solid transparent;
	border-image: url(../images/medieval-border.png) 20% round;
	width: 40%;
	padding: 10px;
	background-image: url("../images/darkmetal-bck.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}


/* ========================== Left Box Properties ================================== */

/* This is the whole Left Box */
.leftbox {
	display: flex;
	flex-direction: column;
}

/* SHEET TITLE - This contains the logo and the character name */
.sheettitle {
	display: flex;
	align-items: center;
	flex-grow: 0;
	width: 100%;
	height: 80px;
	margin: 0;

/*	border: 1px solid green; */
}

.logobox {
	display: flex;
	align-items: center;
	margin: 0 10px;
	width: 150px;
}

.d20logo {
	width: 100%;
	height: auto;
}

.charname {
	display: block;
	font-family: Sherwood, Georgia, serif;
	font-size: 28px;
	font-weight: bold;
	color: darkgoldenrod;
	text-shadow: 2px 2px black;
}

.viewcharsheet {
	width: 100px;
	height: 30px;
	margin: 0 5px;
}

a.viewcharsheet {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;

	border: none;

	padding: 0 10px;

	background-image: url('../images/button.jpg');
	background-color: rgba(0,0,0,0.0);
	background-size: 100% 100%;
	background-repeat: no-repeat;

	font-family: 'Sherwood', serif;
	color: brown;
	text-shadow: 1px 1px 1px goldenrod;

	cursor: default;
}

a.viewcharsheet:hover {
	opacity: 0.8;
}


/* End of SHEET TITLE */


/*  */
.lefttabcontent {
	display: none;
	width: 100%;
	height: calc(100% - 80px);

}

/* CHARACTER PORTRAIT - This contains the avatar and the character abilities */
.charportrait {
	display: flex;
	align-items: center;
	width: 100%;
	height: 250px;
	flex-grow: 0;

/*	border: 1px solid white;*/
}

.charavatarbox {
	display: block;
	width: 150px;
	height: 240px;
	margin: 10px;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 2px 2px 4px 2px rgba(255,255,255,0.4), -2px -2px 4px 2px rgba(0,0,0,0.6);
	border-radius: 10px;
	overflow: hidden;
}

.charavatarbox img {
	width: 100%;
	height: 100%;
}

.charabilities {
	display: flex;
	flex-direction: column;
/*	align-items: flex-end;*/
	width: calc(100% - 190px);
	margin-left: 10px;

/*	border: 1px solid white;*/
}

.charabilities span {
/*	border: 1px solid white;*/
}

.charabilities hr {
	border: 1px solid rgba(0,0,0,0.7);
	width: 100%;
}

.charabilities div {
	display: flex;
}

.statcontainer {
	display: flex;
	align-items: center;
}

.statbox {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20px;
	width: 46px;
	margin: 2px 4px;
	padding: 4px 0;
	font-family: Sherwood, Georgia, serif;
	font-size: 16px;
	border: 2px solid black;
	background-color: rgba(255,255,255,0.1);
}

.titlestatbox {
	width: 50px;
	background-color: rgba(0,0,0,0.4);
	color: goldenrod;
	font-weight: bold;
}

/* End of CHARACTER PORTRAIT */

/* CHARACTER DEFENSE - This contains the charachter defense stats */
.chardefense {
	display: flex;
	align-items: center;
	width: calc(100% - 20px);
	height: 80px;
	margin: 10px;

/*	border: 1px solid blue;*/
}

.statcontleft {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 150px;

/*	border: 1px solid green;*/
}

.statcontright {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 150px);
}

.barcontainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.wholebar {
	display: block;
	height: 25px;
	width: calc(100% - 58px - 25px);
	border: 2px solid black;
	background-color: rgba(255,255,255,0.1);
/*	overflow: hidden;*/
}

.barprogress {
	display: flex;
	align-items: center;
	height: 100%;
	width: 0%;
	animation-name: animprogress;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

.hpbar {
	background-color: rgba(255,0,0,0.4);
}

.xpbar {
	background-color: rgba(0,153,255,0.4);
}

.barvalues {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-left: 10px;
	font-family: Sherwood, Georgia, serif;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
}

.savingthrows {
	display: flex;
	justify-content: space-around;
	width: calc(100% - 20px);
	margin: 10px 0;
	padding-left: 8px;
}

/* End of CHARACTER DEFENSE */

/* CHARACTER BACKGROUND - This contains the charachter background */
.charbackground {
	width: calc(100% - 20px);
	/* Height set to 100% minus the heights, border, margin and padding of .charportrait, .chardefense and .charbox */
	height: calc(100% - 250px - 80px - 15px - 10px - 20px);
	padding: 10px;
	border: 2px solid rgba(15,15,15,0.7);
	border-radius: 10px;
	box-shadow: 0 -3px 8px rgba(0,0,0,0.8) inset;
	overflow-y: auto;

/*	border: 1px solid red;*/
}

.equipcontainer {
	margin: 0;
	width: 100%;
	height: 400px;

/*	border: 1px solid white;*/
}

.equipboxcont {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;

/*	border: 1px solid white;*/
}

.equipbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	background-color: rgba(0,0,0,0.4);
	box-shadow: 2px 2px 4px 2px rgba(255,255,255,0.4), -2px -2px 4px 2px rgba(0,0,0,0.6);
	overflow: hidden;
	color: gray;
}

.eyesequip {
	width: 60px;
	height: 60px;
}

.headequip {
	width: 80px;
	height: 80px;
	background-image: url("../images/equipment/background/helmet.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.neckequip {
	width: 60px;
	height: 60px;
}

.weapequip {
	width: 80px;
	height: 130px;
}

.mainhand {
	background-image: url("../images/equipment/background/weapon.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.offhand {
	background-image: url("../images/equipment/background/shield.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.armbox {
	display: flex;
	flex-direction: column;

/*	border: 1px solid white;*/
}

.armequip {
	width: 30px;
	height: 80px;
}

.ringequip {
	width: 30px;
	height: 30px;
	background-image: url("../images/equipment/background/ring.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bodyequip {
	width: 110px;
	height: 130px;
	background-image: url("../images/equipment/background/armor.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.waistequip {
	width: 100px;
	height: 30px;
}

.iounequip {
	width: 60px;
	height: 60px;
}

.feetequip {
	width: 80px;
	height: 80px;
}

.backpackequip {
	width: 60px;
	height: 60px;
}

.featstatbox {
	display: flex;
	justify-content: flex-start;
	width: auto;
	max-width: 100%;
	padding-left: 10px;
	background-color: rgba(0,0,0,0.4);
	color: goldenrod;
	font-size: 14px;
	font-weight: bold;
}

.classstatbox {
	display: flex;
	justify-content: flex-start;
	width: auto;
	max-width: 100%;
	padding-left: 10px;
	background-color: rgba(0,0,0,0.4);
	color: goldenrod;
	font-size: 25px;
	font-weight: bold;
}


/* ========================== End of Left Box Properties =========================== */


/* ========================== Right Box Properties ================================= */

.chartabs {
	display: flex;
	flex-wrap: wrap;
	height: 55px;
}

.stattab {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	background: none;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid rgba(15,15,15,0.7);
	border-bottom: 3px solid rgba(15,15,15,0.7);
	border-radius: 10px 10px 0 0;
	box-shadow: 0 3px 8px rgba(0,0,0,0.8) inset;
	width: 20%;
	height: 100%;
	margin: 0;
	font-family: Sherwood, Georgia, serif;
	font-size: 100%;
	color: darkgoldenrod;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px black;
}

.selectedtab {
	color: white;
	border-bottom: none;
	background-color: rgba(0,0,0,0.0);
}

.righttabcontent {
	display: none;
	height: calc(100% - 55px - 10px - 15px);	/* Height set to 100% minus the height of .chartabs, and border and padding of .charbox */
	border: 2px solid rgba(15,15,15,0.7);
	border-top: none;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 -3px 8px rgba(0,0,0,0.8) inset;
	padding: 10px;
	overflow-y: auto;
}

.inventorybox {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.inventorybox > h6 {
	flex-grow: 0;
}

.itemname {
	width: calc(100% - 120px - 30px);
	height: 20px;
	margin: 5px;
	background-color: rgba(0,0,0,0.4);
	box-shadow: 2px 2px 4px 2px rgba(255,255,255,0.4), -2px -2px 4px 2px rgba(0,0,0,0.6);

}

.itemweight {
	width: 60px;
	height: 20px;
	margin: 5px;
	background-color: rgba(0,0,0,0.4);
	box-shadow: 2px 2px 4px 2px rgba(255,255,255,0.4), -2px -2px 4px 2px rgba(0,0,0,0.6);
	text-align: right;
}

.itemequip {
	width: 60px;
	height: 20px;
	margin: 5px;
}

.inventorycontent {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: auto;
	height: calc(100% - 30px - 40px);
}

.inventorytotal {
	display: flex;
	flex-grow: 0;
}

.inventorytotal > span {
	background-color: rgba(255,255,255,0.2);
}

.skillstatbox {
	justify-content: flex-start;
	width: 200px;
	min-width: 130px;
	padding-left: 10px;
	background-color: rgba(0,0,0,0.4);
	color: goldenrod;
	font-size: 14px;
	font-weight: bold;
}

.abilitystatbox {
	width: 50px;
	min-width: 40px;
	background-color: rgba(0,0,0,0.4);
	color: goldenrod;
	font-size: 14px;
	font-weight: bold;
}

.totalskillstatbox {
	width: 50px;
	background-color: rgba(255,255,255,0.2);
	color: goldenrod;
	font-weight: bold;
}

/* ========================== End of Right Box Properties ========================== */


/* ========================== End of Charachter Sheet Properties =================== */
/* ================================================================================= */

.visible {
	display: block;
}

.visibleflex {
	display: flex;
}

.tabmainbox {
	height: calc(100% - 30px);
	width: 100%;
	overflow-y: auto;
}

/* ========================== JAVASCRIPT ANIMATIONS ================================ */
/* ================================================================================= */

/* ========================== Charachter Sheet Animations ========================== */

@-webkit-keyframes zoomincharmodal {
	0% {
		width: 0%;
		height: 0%;
		margin: auto;
		margin-top: 5%;
	}
	100% {
		width: 100%;
		height: 80%;
		margin: auto;
		margin-top: 5%;
	}
}

@keyframes zoomincharmodal {
	0% {
		width: 0%;
		height: 0%;
		margin: auto;
		margin-top: 50%;
	}
	100% {
		width: 100%;
		height: 80%;
		margin: initial;
	}
}

@-webkit-keyframes animprogress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes animprogress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

/* ========================== End of Charachter Sheet Animations =================== */

/* ========================== END OF JAVASCRIPT ANIMATIONS ========================= */
/* ================================================================================= */
