 /* New Character CSS Stylesheet == "The Nine Lands" Website. */
/* It defines the styles for the elements inside the [newchar.php] file.
*/



@import (once) "style.less";

/* ================================================================================ */
/* LESS Variables																																		*/
/* ================================================================================ */




/* ================================================================================ */
/* General Properties																																*/
/* ================================================================================ */

body {
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}


/* ==== Headings ================ */

h1 {
	.siteheadings();

	margin: 0;

	padding: 20px;

	font-size: 2em;
  text-shadow: 2px 2px 2px black;
}

h2 {
	.siteheadings();

	margin: 0;

	padding: 20px;

	font-size: 2em;
  text-shadow: 2px 2px 2px black;
}



th {  /* To be changed... */
	padding: 5px;

	border: 1px solid white;

	background-color: rgba(127,127,127,0.8);
}

td {  /* To be changed... */
	padding: 5px;

	border: 1px solid white;
}

.cellcenter {
	text-align: center;
}



/* ================================================================================ */
/* General MainBox Properties																												*/
/* ================================================================================ */

.mainbox { /* The container of the Charachter boxes */
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 80%;
	max-width: 870px;

	height: 80%;
	max-height: 650px;

	margin: 0 auto;

	border: 15px solid transparent;
	border-image: url(../images/medieval-border.png) 20% round;
	box-shadow: 10px 10px 18px 10px rgba(0,0,0,0.6);

	padding: 3px 10px;

	background-image: url("../images/darkmetal-bck.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	overflow: hidden;
}

/* ====== Header ============================================================== */

.pagetitle {
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
}

.titlebox {
	flex-grow: 2;
}

.sideimgbox {
	display: flex;
	align-items: center;
	flex-grow: 0;

	margin: 10px;
}

.sideimg {
	width: auto;
}

/* ====== Section Body ======================================================== */

.mainscreen {
	display: flex;
	justify-content: center;
	flex-grow: 2;
	flex-shrink: 2;

	height: calc(100% - 140px);
}

.subscreen {
	flex-grow: 0;
	margin: 10px;

/*	border: 1px white solid; */
}

/* === List Column Properties === */

.listcol {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-shrink: 0;

	width: auto;
	min-width: 200px;

	overflow-y: auto;

	&.algcol {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;

		width: 37.5em;
		min-width: 33%;
		max-width: 50%;

	}

}

.listtitle {
	flex-shrink: 0;
	flex-grow: 0;

	margin: 3px;

	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6) inset, 2px 2px 4px 2px rgba(255,255,255,0.4) inset;

	padding: 10px;

	background-image: url("../images/darkmetal-bck.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	font-size: 1.2em;
	font-weight: normal;
	color: silver;
	text-shadow: 1px 1px 1px black;
}

.itemlist {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	flex-grow: 2;

	width: 100%;

	overflow-y: auto;
}

.listitem {
	display: flex;
	align-items: center;
	flex-shrink: 0;

	height: 1.5em;

	margin: 1px 2px;

	border: 3px ridge silver;

	background-image: url('../images/webelements/buttons/bluemetal-bck.png');

	padding: 3px 10px;

	font-family: "Roman", serif;
	font-size: 1.2em;
	text-shadow: 1px 1px 1px black;

	cursor: @curpointer, pointer;

	&.camplist {
		background-image: url('../images/webelements/buttons/darkmetal-bck.png');
	}

	&.selected {
		border: 3px ridge darkgoldenrod;
		background-image: url('../images/webelements/buttons/greenmetal-bck.png');
	}

	&:hover {
		background-color: silver;
		background-color: rgba(255, 255, 255, 0.2);
		-webkit-filter: brightness(130%);
		filter: brightness(130%);
	}

	&:focus {
		color: darkgoldenrod;
	}

	input[type=checkbox] {
		display: none;

		& + .checkbox {
			width: 1em;
			height: 1em;

			margin-right: 0.5em;

			border: 2px ridge goldenrod;

			background-image: none, url("/images/webelements/buttons/bluemetal-bck.png");
			background-repeat: no-repeat, no-repeat;
			background-size: 100% 100%, 100% 100%;
		}

		&:checked + .checkbox {
			background-image: url("/images/webelements/buttons/checkmark.png"), url("/images/webelements/buttons/greenmetal-bck.png");
		}
	}
}

/* ====== Footer ============================================================== */

.pagefooter {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0;

	margin: 10px;

}

.pagebuttons {
	display: flex;
	flex-grow: 0;

	margin: 0;
}

.mainbtns {
	width: 15%;
	min-width: 200px;

	margin: 2px;

	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6) inset, 2px 2px 4px 2px rgba(255,255,255,0.4) inset;

	padding: 3px 10px;

	background-image: url('../images/lightmetal-bck.png');

	font-size: 1.2em;
	color: darkgoldenrod;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px black;

	a& {
		display: block;

		font-family: "Sherwood", serif;
		text-align: center;
		text-decoration: none;

		cursor: @curpointer, pointer;

		&:hover {
			opacity: 0.8;
		}
	}
}



/* ========================== New Charachter Sheet Properties ===================== */
/* ================================================================================ */


/* ========================== General Elements Properties ========================= */

.partitle {
	font-family: "Roman", fantasy;
	font-weight: bold;
	font-size: 1.3em;
}


.subbtns {
	flex-shrink: 0;
	flex-grow: 1;

	margin: 3px;

	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6) inset, 2px 2px 4px 2px rgba(255,255,255,0.4) inset;

	padding: 10px;

	background-image: url("../images/darkmetal-bck.png");

	font-size: 1.2em;
	font-weight: normal;
	color: silver;
	text-shadow: 1px 1px 1px black;
}

.algbtn {
	width: 31%;
	border: 3px solid transparent;
}

.col2 {
	flex-grow: 1;

	border: 10px solid transparent;
	border-image: url(../images/greymedieval-border.png) 20% round;

	padding: 10px;

	background-color: black;

	overflow-y: auto;
}

.col3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	width: 200px;

	overflow-y: hidden;
}

.avatarbox {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-grow: 2;

	margin: 3px;

	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6) inset, 2px 2px 4px 2px rgba(255,255,255,0.4) inset;

	padding: 20px;

	background-image: url("/images/webelements/backgrounds/lightmetal-bck.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	overflow-y: hidden;

	div {
		flex-grow: 2;

		width: 100%;
		height: 100%;

		background-image: url('/images/thumbs/frames/portrait_silver.png'), url("/images/thumbs/chars/testavatar.jpg");
		background-repeat: no-repeat, no-repeat;
		background-size: contain, contain;
	}

	img {
		display: inline-block;

		height: : 100%;
		width: auto;
		max-width: 100%;

		box-shadow: 2px 2px 4px 2px rgba(255,255,255,0.4), -2px -2px 4px 2px rgba(0,0,0,0.6);
	}
}

.rightbtns {
	flex-grow: 0;
}

.desccol {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-grow: 1;

	overflow-y: auto;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;

	height: 8em;

	border: 10px solid transparent;
	border-bottom: none;
	border-image: url(../images/greymedieval-border.png) 20% round;

	overflow: hidden;
}

.bannerbox {
	display: flex;
	align-items: flex-end;

	height: 100%;
	width: 100%;

	background-color: wheat;
	background-repeat: no-repeat, no-repeat;
	background-position: right 0.8em center, center;
	background-size: contain, cover;

	font-family: 'Roman', serif;
	font-size: 3em;
	color: darkgoldenrod;
	text-shadow: 2px 3px 4px black;
}

.bannertitle {
	margin: 0.1em 0.8em;
}

.descbox {
	flex-grow: 1;

	border: 10px solid transparent;
	border-top: none;
	border-image: url(../images/greymedieval-border.png) 20% round;

	padding: 10px;

	background-color: black;

	text-align: justify;

	overflow-y: auto;
}

.campruleset {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;

	margin-top: 15px;

	padding: 10px;

	overflow: hidden;
}

/* ========================== End of the General Elements Properties =============== */

/* ================================================================================ */
/* Modal Properties																																	*/
/* ================================================================================ */

.persp3d {
	perspective: 1600px;
}

.newcharbox {
	border-image: url(../images/greymedieval-border.png) 20% round;

	background-image: url("../images/bluemetal-bck.png");

	animation-name: opensection;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

}




/* ========================== Modal Boxes Properties =============================== */

.genderbox {
	display: flex;
	justify-content: center;
	align-items: stretch;

	width: 100%;
}

#imgMale {
	background-image: url('../images/webelements/buttons/Male_symbol.png'), url('../images/bluemetal-bck.png');
}

#imgFemale {
	background-image: url('../images/webelements/buttons/Female_symbol.png'), url('../images/bluemetal-bck.png');
}

.genderbtn {
	flex-shrink: 1;

	width: 45%;

	background-size: contain, cover;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;

}

/* ========================== End of the Modal Boxes Properties ==================== */

/* ========================== End of Charachter Sheet Properties =================== */
/* ================================================================================= */

.tabmainbox {
	height: calc(100% - 30px);
	width: 100%;
	overflow-y: auto;
}

.stpbtnbox {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 15px auto;
}

.stpbtn {
	height: 30px;
	width: 80px;
}

.rollscreen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	margin: 10px;
}

.rollcol {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
}

.rollabildiv {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.rollabildiv > label {
	font-weight: bold;
	font-size: 1.2em;
}

#rolltilediv {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.rollline {
	display: flex;
}

.rollbox {
	display: flex;
	justify-content: center;
	align-items: stretch;

	height: 2em;
	width: 2.5em;

	font-family: "Sherwood", fantasy;
}

.rolltile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	border-radius: 5px;
	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6) inset, 2px 2px 4px 2px rgba(255,255,255,0.4) inset;

	background-image: url('../images/lightmetal-bck.png');
	background-color: rgba(0,0,0,0.0);
	background-size: 100% 100%;
	background-repeat: no-repeat;

	font-family: "Sherwood", fantasy;

	cursor: grab;

	&.over {
		filter: brightness(150%);
	}
}

.rollbtn {
	flex-grow: 0;

	width: 2.5em;
	height: 2.5em;

	background-image: url('../images/webelements/buttons/btn-dice.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.skillscreen {
	.listcol();
	max-width: 50%;
}

.skilllist {
	display: flex;
	flex-direction: column;

	flex-grow: 2;

	overflow-y: auto;
}

.skillrow {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	flex-shrink: 0;

	border: 3px ridge silver;

	background-image: url('../images/webelements/buttons/bluemetal-bck.png');

	font-family: "Roman", serif;
	color: silver;
	text-shadow: 1px 1px 1px black;

	cursor: @curpointer, pointer;

	&:hover {
		background-color: silver;
		background-color: rgba(255, 255, 255, 0.2);
		-webkit-filter: brightness(130%);
		filter: brightness(130%);
	}

	&:focus {
		background-color: darkgoldenrod;
		background-color: rgba(184, 134, 11, 0.2);
	}

	&.classskill {
		color: peru;
		font-weight: bold;
	}

	&.selected {
		border: 3px ridge darkgoldenrod;
		background-image: url('../images/webelements/buttons/greenmetal-bck.png');
		color: inherit;
	}

}

.skillname {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	flex-shrink: 1;
	flex-grow: 1;

	margin-left: 10px;

	font-size: 1em;
}

.statsholder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skillkey {
	width: 2.5em;

	text-align: center;
}

.skillstat {
	display: flex;

	width: 2em;

	height: 1.5em;
}

.skillbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-shrink: 0;
	flex-grow: 0;

	margin: 3px;

	box-shadow: -3px -3px 5px 3px rgba(0,0,0,0.6) inset, 2px 2px 4px 2px rgba(255,255,255,0.4) inset;

	background-image: url("../images/bluemetal-bck.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	font-family: "Roman", fantasy;
	font-size: 0.9em;
	font-weight: normal;
	color: silver;
	text-shadow: 1px 1px 1px black;
}

.skilltotals, .skillranks {
	text-shadow: 2px 2px 1px black;
}

.modranks {
	display: flex;
	justify-content: space-around;
	align-items: center;

	padding: 10px;
}

.skilldescrank {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 10px;

	width: 40px;
	height: 30px;

	font-size: 2em;
}

#skillbtns {
	display: flex;
}

.modrankbtn {
	margin: 0 2px;
	width: 40px;
	height: 40px;

	background-size: contain, cover;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
}



/* ================================================================================ */
/* Attachments																																			*/
/* ================================================================================ */

.redbtn {
	background-image: url('../images/redmetal-bck.png');
}

.bluebtn {
	background-image: url('../images/bluemetal-bck.png');
}

.closing {
	animation-name: closesection;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}



/* ================================================================================ */
/* CSS Animations																																		*/
/* ================================================================================ */

/* Modal Sections Animations */

@-webkit-keyframes opensection {
	0% {
		transform: rotateY(270deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes opensection {
	0% {
		transform: rotateY(270deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@-webkit-keyframes closesection {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}

@keyframes closesection {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}
